<!DOCTYPE html>
<html>
<body>
    <h2>Balsamiq Benefits | Conquest BITS Pilani</h2>
    <p>Hi {{ user_name }},</p>
    <p>Please take advantage of the benefits available through our partnership with Balsamiq by following the instructions below:</p>
    <p><a href="https://balsamiq.com/wireframes/cloud/sales/promo/#applying-a-promo-code-to-your-space">https://balsamiq.com/wireframes/cloud/sales/promo/#applying-a-promo-code-to-your-space</a></p>
    <p>Here is the 2-month trial code for Balsamiq Cloud:<br><strong>CONQUEST2024</strong></p>
    <p>Please ensure you use the above instructions to avail Balsamiq benefits.</p>
    <p>Feel free to reach out to Swarnima from our partnerships team for assistance:</p>
    <p>Swarnima Bist: +91 89201 45959</p>
    <p>Best,<br>Team Conquest</p>
</body>
</html>