<!DOCTYPE html>
<html>
<body>
    <h2>CleverTap Benefits | Conquest BITS Pilani</h2>
    <p>Hello {{ user_name }},</p>
    <p>To access the Clevertap resources kindly follow these steps:</p>
    <ol>
        <li>Create a CleverTap Essentials account</li>
        <li>Apply for CleverTap Leap Community, by filling the form here:</li>
    </ol>
    <p><a href="https://clevertap.com/leap/?utm_medium=partner&utm_source=conquest">https://clevertap.com/leap/?utm_medium=partner&utm_source=conquest</a></p>
    <p>Kindly note the following:</p>
    <ul>
        <li>The discount is applicable on the base plan + Add-ons. Overages (if any) will be charged on actuals.</li>
        <li>Discount is applicable only on CleverTap Essentials Plan</li>
    </ul>
    <p>Feel free to reach out to Swarnima from our partnerships team for assistance:<br>
    Swarnima Bist: +91 89201 45959</p>
    <p>Best,<br>Team Conquest</p>
</body>
</html>