<!DOCTYPE html>
<html>
<body>
    <h2>Hackrew Benefits | Conquest BITS Pilani</h2>
    <p>Hi {{ user_name }},</p>
    <p>Hackrew offers a comprehensive suite of pentesting services, including:</p>
    <ul>
        <li>Web Application pentesting</li>
        <li>Mobile Application pentesting</li>
        <li>Network pentesting</li>
        <li>Cloud Security pentesting</li>
        <li>Red Teaming</li>
        <li>API security testing</li>
        <li>Secure code reviews</li>
    </ul>
    <p>Hackrew's diverse range of services ensures we can meet the unique cybersecurity needs of businesses of all sizes, helping them identify and mitigate potential vulnerabilities effectively.</p>
    <p>We will soon connect you with Hackrew to facilitate your access to their resources.</p>
    <p>Feel free to reach out to Swarnima from our partnerships team for any further assistance:<br>
    Swarnima Bist: +91 89201 45959</p>
    <p>Best,<br>Team Conquest</p>
</body>
</html>