<!DOCTYPE html>
<html>
<body>
    <h2>HubSpot Benefits | Conquest BITS Pilani</h2>
    <p>Hi {{ user_name }},</p>
    <p>To access the HubSpot resources, kindly follow these steps:</p>
    <p>You can apply through this link: <a href="https://offers.hubspot.com/startups/partner-directory">https://offers.hubspot.com/startups/partner-directory</a></p>
    <p>Choose 'Conquest' from the dropdown list</p>
    <p>Feel free to reach out to Swarnima from our partnerships team for assistance:<br>
    Swarnima Bist: +91 89201 45959</p>
    <p>Thanks :)<br>Team Conquest</p>
</body>
</html>