<!DOCTYPE html>
<html>
<body>
    <h2>MathWorks Benefits | Conquest BITS Pilani</h2>
    <p>Hi {{ user_name }},</p>
    <p>To access the benefits of MathWorks</p>
    <p>Please follow the instructions given below:</p>
    <p>BITS Pilani Conquest is a partner on the MathWorks Accelerator program. MathWorks is the developer of MATLAB and Simulink. Through this partnership, BITS Pilani Conquest provides all member startups access to benefits available through below link:</p>
    <p><a href="http://tiny.cc/MWAcceleratorProgram">http://tiny.cc/MWAcceleratorProgram</a></p>
    <p>Benefits include:</p>
    <ul>
        <li>12 months free software: MATLAB, Simulink, and 120+ add-on products</li>
        <li>Up to 10 licenses per startup</li>
        <li>Full technical support (phone, email, online)</li>
        <li>Training</li>
        <li>Free: MATLAB, Simulink and deep learning onramps, online self-paced tutorials</li>
        <li>50% off Training Credits usable for all online and public classes</li>
        <li>Joint Promotion opportunities through the MathWorks Startup Promotion Program</li>
    </ul>
    <p>Please click the button to request free software and submit the form. Once your request is approved, the software will be issued within a week. Once software has been issued, a representative from MathWorks will contact you to coordinate any support requirements.</p>
    <p>Thank you :)<br>Team Conquest</p>
</body>
</html>