<!DOCTYPE html>
<html>
<body>
    <h2>MixPanel Benefits | Conquest BITS Pilani</h2>
    <p>Hi {{ user_name }},</p>
    <p>Please utilize the benefits available through our partnership with MixPanel via this exclusive partner page:</p>
    <p><a href="https://mixpanel.com/startups?utm_medium=partner-referral&utm_source=BITSPilaniConquest">https://mixpanel.com/startups?utm_medium=partner-referral&utm_source=BITSPilaniConquest</a></p>
    <p>Please ensure you use the above link to access your MixPanel benefits. Only then will your request be directed under Conquest's name.</p>
    <p>For more detailed information kindly refer to the link given below - BITS Pilani Conquest - Mixpanel for Startups .pdf</p>
    <p>Feel free to reach out to Swarnima from our partnerships team for assistance:</p>
    <p>Swarnima Bist: +91 89201 45959</p>
    <p>Best,<br>Team Conquest</p>
</body>
</html>