<!DOCTYPE html>
<html>
<body>
    <h2>Notion Benefits | Conquest BITS Pilani</h2>
    <p>Hello {{ user_name }},</p>
    <p>To access the Notion resources kindly follow these steps:</p>
    <ul>
        <li>You can apply through this link: <a href="https://ntn.so/conquestbitspilani">ntn.so/conquestbitspilani</a></li>
        <li>Choose 'Conquest BITS Pilani' from the dropdown list</li>
        <li>Use the unique partner key which is STARTUP4110P00156</li>
    </ul>
    <p>Feel free to reach out to Swarnima from our partnerships team for assistance:<br>
    Swarnima Bist: +91 89201 45959</p>
    <p>Best,<br>Team Conquest</p>
</body>
</html>