<!DOCTYPE html>
<html>
<body>
    <h2>Sprinto Benefits | Conquest BITS Pilani</h2>
    <p>Hi {{ user_name }},</p>
    <p>Sprinto is a comprehensive security compliance automation software designed to help organizations like yours stay compliant with SOC 2, ISO 27001, GDPR, HIPAA, PCI-DSS, and over 15 other common frameworks. Sprinto achieves this through continuous 24/7 security control monitoring across all your SaaS services.</p>
    <p>To discuss this further, we will soon connect you with Shirish, who will facilitate the next steps and answer any questions you may have.</p>
    <p>Feel free to reach out to Swarnima from our partnerships team for assistance:</p>
    <p>Swarnima Bist: +91 89201 45959</p>
    <p>Best,<br>Team Conquest</p>
</body>
</html>