<!DOCTYPE html>
<html>
<body>
    <h2>Stripe Benefits | Conquest BITS Pilani</h2>
    <p>Hi {{ user_name }},</p>
    <p>Please utilise the benefits available through our partnership with Stripe via this exclusive partner page:</p>
    <p><a href="https://stripe.com/startup-benefits/conquestbitspilani">https://stripe.com/startup-benefits/conquestbitspilani</a></p>
    <p>Please ensure you use the above link to access your Stripe benefits. Only then will your request be directed under Conquest's name.</p>
    <p>Feel free to reach out to Swarnima from our partnerships team for assistance:</p>
    <p>Swarnima Bist: +91 89201 45959</p>
    <p>Best,<br>Team Conquest</p>
</body>
</html>