<!DOCTYPE html>
<html>
<body>
    <h2>Tally Benefits | Conquest BITS Pilani</h2>
    <p>Hello {{ user_name }},</p>
    <p>To access the Tally resources kindly follow these steps:</p>
    <ul>
        <li>You can apply through this link: <a href="https://tally.so/help/tally-for-startups">https://tally.so/help/tally-for-startups</a></li>
        <li>Choose 'Conquest BITS Pilani' from the dropdown list</li>
        <li>Use the partner code: conquestbitspilanitally0623</li>
        <li>You will receive an email from Tally with the discount code that you can use to avail the benefits.</li>