<!DOCTYPE html>
<html>

<body>
    <h2>Webflow Benefits | Conquest BITS Pilani</h2>
    <p>Hello {{ user_name }},</p>
    <p>Please utilise the benefits available through our partnership with Webflow via this exclusive partner page: </p>
    <a href="https://webflow.com/startups">webflow.com/startups
    </a></li>
    <p>Please select Conquest, BITS PIlani when applying through the above link.</p>

    <p>Please ensure you use the above link to access your Webflow benefits. </p>

    <p>Feel free to reach out to Swarnima from our partnerships team for assistance:</p>

    <p>Swarnima Bist: +91 89201 45959</p>